body {
    background-color: rgb(26,57,130);
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    box-sizing: border-box;
}
.page_header {
    position: relative;
    margin: 8px;
    width: 80%;
}
.page_header-logo {
    border-radius: 20%;
    width: 350px;
    height: 150px;
    position: absolute;
    padding: 20px;
   
}
#navigation {
    list-style-type:none;
    height: 150px;
    width: 650px;
    position: absolute;
    padding: 80px 20px 10px 600px;
    display: flex;
}
.nav1,.nav2,.nav3,.nav4 {
    color: white;
    font-size: 2em;
    flex:1;
    text-decoration: none;
}
.page_main {
    color: rgb(26,57,130);
    background-color: white;
    border-radius: 5%;
    box-sizing: border-box;
    position: absolute;
    margin-top: 220px;
    margin-left: 35px;
    padding: 25px;
    width: 90%; 
}
.page_main > h1,p {
    padding-left: 15px;
    margin-right: 15px;
}

h2 {
    padding-left: 10px;
    display: block;
}
h3, p {
    padding-left:15px;
    display: block;
}
.progress-bar {
    align-self: center;
    height: 35px;
    width: 95%;
    margin-left: 15px;
    border: 2px solid rgb(26,57,130);
}
.progress-bar::-webkit-progress-value {
    background: rgb(26,57,130);
}
.progress-bar::-webkit-progress-bar {
    background: white;
}
.signup {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: 15px;
    margin-left: 15px; 
}
.signup label {
    margin: 5px 10px;
}
.signup input {
    vertical-align: middle;
    margin: 25px 10px 5px 0px;
    height: 30px;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(26,57,130);
}
.signup select {
    margin: 25px 10px 5px 0px;
    height: 30px;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(26,57,130);
}
.signup textarea {
    height: 150px;
    width: 400px;
    padding: 10px;
    background-color: white;
    border: 1px solid rgb(26,57,130);
}

#second-address {
    visibility: visible;
}
input[type=checkbox]:checked + #second-address {
    display: none;
}
button {
    background-color: rgb(26,57,130);
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
  }